<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student confirmation</title>
</head>
<body>

<h3>Student confirmation</h3>

The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>

<br><br>

Country: <span th:text="${student.country}"/>

<br><br>

Favourite Programming Language: <span th:text="${student.favouriteLanguage}"/>

<br><br>

<ul>
    <li th:each="tempSystem : ${student.favouriteSystems}" th:text="${tempSystem}"/>
</ul>

</body>
</html>